%html
  %head
    %title
      Niles
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    - if development?
      = embed_amber
      %script{:type => 'text/javascript', :src => '/js/jquery.mobile.custom.js'}
      %link{:rel => 'stylesheet', :media => 'screen', :href => '/css/jquery.mobile.custom.css'}
      %link{:rel => 'stylesheet', :media => 'screen', :href => '/css/jquery.mobile.custom.structure.css'}
      %link{:rel => 'stylesheet', :media => 'screen', :href => '/css/jquery.mobile.custom.theme.css'}
    - else
      %link{:rel => 'stylesheet', :media => 'screen', :href => '/css/jquery.mobile.custom.min.css'}
      %link{:rel => 'stylesheet', :media => 'screen', :href => '/css/jquery.mobile.custom.structure.min.css'}
      %link{:rel => 'stylesheet', :media => 'screen', :href => '/css/jquery.mobile.custom.theme.min.css'}
      %script{:type => 'text/javascript', :src => '/js/app.deploy.js'}
        %script{:type => 'text/javascript', :src => '/js/jquery.mobile.custom.min.js'}
      %script{:type => 'text/javascript'}
        loadAmber({deploy: true});
    %script{:type => 'text/javascript'}
      jQuery.mobile.loadingMessage = false;
  %body
    %div{:id => 'niles-home-page', 'data-role' => 'page'}
      %div{:id => 'niles-header', :class => 'ui-grid-b', 'data-role' => 'header'}
        %div{:class => 'ui-block-a'}
          %h3{:style => 'margin-left: 20px;'}
            Niles
        %div{:class => 'ui-block-b'}
          %div{:style => 'margin-top: 10px;'}
            %input{:id => 'url-input', :value => 'https://ci.jenkins-ci.org/view/Jenkins core/'}/
        %div{:class => 'ui-block-c'}
          %div{:style => 'margin-top: 10px;'}
            %button{:style => 'float: right;', :type => 'submit', :onclick => 'smalltalk.NilesApp._current()._submitForm(); return false;'}
              Load
            - if development?
              %div{:style => 'float: right;'}
                %button{:onclick => "smalltalk.Browser._open();"}
                  Run IDE
      %div{:id => 'niles-content', 'data-role' => 'content'}
